<% include head.html %>
<body>
<% include header.html %>
<main>
    <!-- LOOP all advertisements-->
    <% advertisements.forEach(advertisement => { %>
    <div class="advert-wrapper">
        <img src="/images/<%= advertisement.photo %>" alt="<%= advertisement.name %>">
        <div>
            <h3><%= advertisement.name %></h3>
            <div class="flex-wrapper between">
                <h5><%= advertisement.getSaleString() %></h5>
                <h5><%= advertisement.price %> €</h5>
            </div>
            <!--LOOP TAGS-->
            <hr/>
            <h4>Tags</h4>
            <ul>
                <% if (advertisement.tags) {%>
                <% advertisement.tags.forEach(tag => { %>
                <li><%= tag %></li>
                <% })} %>
            </ul>
        </div>
        <!--END LOOP-->
    </div>
    <% }) %>
    <!-- END LOOP -->
</main>
</body>
</html>
