<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nodepop</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>NodePop</h1>
<h2>Miguel Ángel Zamora Blanco</h2>
<main>
    <!-- LOOP all advertisements-->
    <% advertisements.forEach(advertisement => { %>
    <div class="advert-wrapper">
        <img src="/images/<%= advertisement.photo %>" alt="<%= advertisement.name %>">
        <div>
            <h3><%= advertisement.name %></h3>
            <div class="flex-wrapper between">
                <h5><%= advertisement.getSaleString() %></h5>
                <h5><%= advertisement.price %> €</h5>
            </div>
            <!--LOOP TAGS-->
            <hr/>
            <h4>Tags</h4>
            <ul>
                <% if (advertisement.tags) {%>
                <% advertisement.tags.forEach(tag => { %>
                <li><%= tag %></li>
                <% })} %>
            </ul>
        </div>
        <!--END LOOP-->
    </div>
    <% }) %>
    <!-- END LOOP -->
</main>
</body>
</html>
