<% include head.html %>

<body>
<% include header.ejs %>
<main>
    <div class="login-wrapper">
        <h1>Login</h1>
        <form method="post">
            <p class="error"><%= error %></p>
            <div class="input-field">
                <label for="email"><%= __('Email') %></label>
                <input type="text" name="email" value="<%= email %>">
            </div>
            <div class="input-field">
                <label for="password"><%= __('Password') %></label>
                <input type="password" name="password">
            </div>
            <button type="submit" class="btn"><%= __('SIGN IN') %></button>
        </form>
    </div>
</main>
</body>